* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}


.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1ren;
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #13131b;
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    justify-content: center;
    align-items: center;

}

.cabeçalho-link a {
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.cabeçalho-link a:hover {
    color: #3790e3;
    transition: 0.3s all;
}

.logo {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #3790e3;
    color: #3790e3;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.logo:hover {
    background-color: #3790e3;
    color: #fff;
    transition: 0.5s;
}

button {
    color: #3790e3;
    background: transparent;
    border: solid 1px #3790e3;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: #3790e3;
    color: #fff;
    transition: 0.5s;
}

.Home {
    padding: 150px 0 0 130px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.Home img {
    width: 35%;
    height: 80%;
    margin-right: 10em;

}

.Sobre {
    padding: 150px 0 0 130px;
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;

    display: flex;
}

#Sobre .text {
    width: 60%;
}

.Sobre img {
    margin-right: 6em;
    width: 30%;
    height: 50%;
}

.Trabalhos-e-projetos {
    padding: 150px 0 0 130px;
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;

    display: flex;
}

.Trabalho {
    padding: 150px 0 0 130px;
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Trabalho .text {
    margin-top: -200px;
}

.Trabalho img {
    margin-top: -70px;
}


.Trabalhos-e-projetos .text {
    width: 60%;
}

.Trabalhos-e-projetos .text h1 {
    margin-bottom: 50px;
}

.Trabalhos-e-projetos img {
    margin-top: -150px;
}

.habilidades {
    margin-top: 10em;
    width: 70%;
    height: 70%;
}

.botao_in {
    margin-right: 20px;
}

.botao_in button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.wpp_button img {
    filter: hue-rotate(100deg);
}

.wpp_button img:hover {
    filter: grayscale(100%) brightness(200%);
}

.wpp_button {
    color: #3790e3;
    background: transparent;
    border: solid 1px #3790e3;
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.wpp_button:hover {
    background-color: #3790e3;
    color: #fff;
    transition: 0.5s;
}

.curriculo {
    color: #3790e3;
    background: transparent;
    border: solid 1px #3790e3;
    padding: 6px;
    border-radius: 15px;
    font-size:20px;
    width: 150px;
    cursor: pointer;
}

.curriculo:hover {
    background-color: #3790e3;
    color: #fff;
    transition: 0.5s;
}

.text h3 {
    color: #fff;
    font-size: 30px;
}

.text h1 {
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
}

.text span {
    color: #3790e3;
}

.text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #3790e3;
}

.redes-sociais a {
    color: #3790e3;
    padding: 10px;
    margin-top: 5px;
}

.redes-socias a i {
    width: 100px;
}

.btn {
    margin-top: 10px;
}
